# Dataset 01 - IPL DATA

In [1]:
import pandas as pd

In [44]:
matches_df = pd.read_csv("C:\\Users\\Aashita Arora\\Documents\\work\\matches.csv")

In [3]:
deliveries_df=pd.read_csv("C:\\Users\\Aashita Arora\\Documents\\work\\deliveries.csv")

In [78]:
deliveries_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
matches_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [6]:
df=matches_df[matches_df['team2']==matches_df['winner']]

In [10]:
df['winner'].value_counts() ###arranged in order of their number of wins

Kolkata Knight Riders          58
Mumbai Indians                 51
Royal Challengers Bangalore    49
Chennai Super Kings            49
Rajasthan Royals               46
Kings XI Punjab                44
Delhi Daredevils               42
Sunrisers Hyderabad            28
Gujarat Lions                  12
Deccan Chargers                11
Delhi Capitals                  7
Pune Warriors                   6
Rising Pune Supergiant          5
Rising Pune Supergiants         5
Kochi Tuskers Kerala            4
Name: winner, dtype: int64

## Which team has won/lost maximum number of matches while chasing?

In [15]:
print("Team which has won maximum number of matches while chasing  " + df['winner'].value_counts().idxmax())

Team which has won maximum number of matches  Kolkata Knight Riders

In [16]:
print("Team which has lost maximum number of matches while chasing  " + df['winner'].value_counts().idxmin())

Team which has lost maximum number of matches while chasing  Kochi Tuskers Kerala

## Which toss decision is best for each ground?

In [69]:
venue_wise=matches_df.groupby('venue')

In [73]:
dict={}

In [74]:
for name,group in venue_wise:
    b=(group[group['team1']==group['winner']]).shape[0]
    f=(group[group['team2']==group['winner']]).shape[0]
    if(b>f):
        dict[name]="bat"
    else:
        dict[name]="field"

## The toss decison best for each ground

In [77]:
dict

{'ACA-VDCA Stadium': 'field',
 'Barabati Stadium': 'bat',
 'Brabourne Stadium': 'bat',
 'Buffalo Park': 'bat',
 'De Beers Diamond Oval': 'field',
 'Dr DY Patil Sports Academy': 'field',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 'bat',
 'Dubai International Cricket Stadium': 'field',
 'Eden Gardens': 'field',
 'Feroz Shah Kotla': 'field',
 'Feroz Shah Kotla Ground': 'field',
 'Green Park': 'field',
 'Himachal Pradesh Cricket Association Stadium': 'bat',
 'Holkar Cricket Stadium': 'field',
 'IS Bindra Stadium': 'field',
 'JSCA International Stadium Complex': 'field',
 'Kingsmead': 'bat',
 'M Chinnaswamy Stadium': 'field',
 'M. A. Chidambaram Stadium': 'field',
 'M. Chinnaswamy Stadium': 'field',
 'MA Chidambaram Stadium, Chepauk': 'bat',
 'Maharashtra Cricket Association Stadium': 'field',
 'Nehru Stadium': 'bat',
 'New Wanderers Stadium': 'field',
 'Newlands': 'bat',
 'OUTsurance Oval': 'field',
 'Punjab Cricket Association IS Bindra Stadium, Mohali': 'field',
 'Punjab Cricket Association Stadium, Mohali': 'field',
 'Rajiv Gandhi International Stadium, Uppal': 'field',
 'Rajiv Gandhi Intl. Cricket Stadium': 'bat',
 'Sardar Patel Stadium, Motera': 'field',
 'Saurashtra Cricket Association Stadium': 'field',
 'Sawai Mansingh Stadium': 'field',
 'Shaheed Veer Narayan Singh International Stadium': 'field',
 'Sharjah Cricket Stadium': 'field',
 'Sheikh Zayed Stadium': 'bat',
 "St George's Park": 'field',
 'Subrata Roy Sahara Stadium': 'bat',
 'SuperSport Park': 'field',
 'Vidarbha Cricket Association Stadium, Jamtha': 'bat',
 'Wankhede Stadium': 'field'}

## Which player has won maximum number of MoM awards while chasing?

In [99]:
msub=matches_df[['id','team2','winner','player_of_match']]

In [100]:
msub.head()

,id,team2,winner,player_of_match
0,1,Royal Challengers Bangalore,Sunrisers Hyderabad,Yuvraj Singh
1,2,Rising Pune Supergiant,Rising Pune Supergiant,SPD Smith
2,3,Kolkata Knight Riders,Kolkata Knight Riders,CA Lynn
3,4,Kings XI Punjab,Kings XI Punjab,GJ Maxwell
4,5,Delhi Daredevils,Royal Challengers Bangalore,KM Jadhav

In [102]:
dsub=deliveries_df[['match_id','batting_team','batsman']]

In [115]:
dsub=dsub.drop_duplicates()

In [116]:
merged=pd.merge(msub,dsub,left_on="id",right_on="match_id",how="inner")

In [120]:
a=merged[merged['player_of_match']==merged['batsman']]

In [121]:
a=a[a['team2']==a['winner']]

In [126]:
a['player_of_match'].value_counts().idxmax()

'YK Pathan'

## Player which has won maximum number of awards while chasing :

In [128]:
a['player_of_match'].value_counts().idxmax()

'YK Pathan'

## Which batsman has played maximum number of dot balls?

In [132]:
dot=deliveries_df.query("total_runs == 0")

In [134]:
dot['batsman'].value_counts().idxmax()

'V Kohli'

## Which batsmen came to crease but never got a chance to face a ball?

In [136]:
dsub=deliveries_df.groupby('match_id')

In [146]:
batsmen=dsub['batsman'].unique()

In [147]:
non=dsub['non_striker'].unique()

In [173]:
li=[]
for i,j in zip(batsmen,non):
    z=set(j)-set(i)
    li.append(list(z))

In [176]:
for ele in enumerate(li,start=1):
    if(len(ele[1])):
            print(ele)
# listing accprding to the match ids: the players who did not get a chance to play in that match.

(2, ['MJ McClenaghan'])
(3, ['DR Smith'])
(4, ['R Bhatia'])
(10, ['A Nehra'])
(11, ['Sandeep Sharma'])
(21, ['CH Morris'])
(28, ['MJ McClenaghan', 'MG Johnson'])
(29, ['MK Pandey'])
(31, ['PJ Cummins'])
(37, ['S Aravind'])
(43, ['JD Unadkat', 'A Nehra'])
(45, ['S Aravind'])
(51, ['S Nadeem'])
(54, ['Sandeep Sharma'])
(64, ['PP Ojha'])
(71, ['AB Dinda'])
(74, ['JDP Oram'])
(75, ['I Sharma'])
(79, ['Joginder Sharma'])
(80, ['SB Bangar', 'DP Vijaykumar'])
(82, ['A Nehra'])
(90, ['A Kumble'])
(91, ['S Sreesanth'])
(95, ['GD McGrath'])
(109, ['A Nel'])
(111, ['Z Khan'])
(115, ['MM Patel'])
(118, ['PR Shah'])
(119, ['DW Steyn'])
(120, ['T Kohli', 'PP Chawla'])
(125, ['DL Vettori', 'L Balaji'])
(129, ['R Vinay Kumar'])
(130, ['K Goel'])
(131, ['MS Gony'])
(135, ['Z Khan'])
(138, ['AB Agarkar'])
(139, ['RR Powar'])
(140, ['Y Venugopal Rao'])
(141, ['S Tyagi', 'A Nehra'])
(148, ['A Kumble'])
(150, ['SL Malinga'])
(155, ['RP Singh'])
(157, ['PP Chawla'])
(158, ['PJ Sangwan'])
(159, ['S Tyagi'])
(160, ['SK Warne'])
(163, ['AB Agarkar'])
(164, ['Jaskaran Singh'])
(170, ['SL Malinga', 'DS Kulkarni'])
(176, ['Z Khan', 'SA Asnodkar'])
(183, ['R Sathish'])
(187, ['AD Mathews'])
(188, ['SL Malinga'])
(193, ['AA Jhunjhunwala'])
(195, ['PP Ojha'])
(196, ['WP Saha'])
(198, ['SK Warne'])
(199, ['PP Ojha'])
(202, ['C Ganapathy'])
(204, ['Y Venugopal Rao'])
(206, ['S Anirudha'])
(210, ['Harmeet Singh', 'PP Ojha'])
(214, ['P Kumar'])
(216, ['SB Jakati'])
(227, ['Kamran Khan'])
(232, ['SB Jakati'])
(233, ['Harmeet Singh'])
(247, ['KA Pollard'])
(250, ['S Nadeem'])
(258, ['MK Tiwary'])
(266, ['AB Agarkar'])
(268, ['A Mithun'])
(271, ['M Kartik'])
(273, ['TL Suman'])
(275, ['MV Boucher'])
(276, ['JA Morkel'])
(283, ['RP Singh'])
(285, ['SK Trivedi'])
(286, ['I Sharma'])
(287, ['SL Malinga'])
(289, ['WP Saha'])
(291, ['A Mithun'])
(292, ['SL Malinga', 'DS Kulkarni'])
(302, ['SB Jakati'])
(305, ['RG Sharma'])
(307, ['S Badrinath'])
(310, ['R Sharma'])
(313, ['TP Sudhindra'])
(318, ['M Vijay'])
(320, ['Z Khan'])
(329, ['B Kumar'])
(331, ['PA Patel'])
(343, ['P Awana'])
(345, ['AB Agarkar'])
(347, ['LR Shukla'])
(353, ['M Kartik'])
(357, ['M Morkel'])
(366, ['PA Reddy'])
(370, ['MM Patel'])
(376, ['DW Steyn'])
(377, ['GB Hogg'])
(382, ['UT Yadav'])
(385, ['S Sreesanth'])
(386, ['DP Nannes'])
(388, ['A Mishra'])
(400, ['L Balaji', 'P Awana'])
(405, ['MS Gony'])
(406, ['JH Kallis'])
(412, ['PP Chawla'])
(416, ['I Sharma'])
(417, ['AT Rayudu'])
(424, ['G Gambhir'])
(431, ['M Rawat'])
(434, ['Harbhajan Singh', 'AT Rayudu'])
(435, ['I Sharma'])
(445, ['LJ Wright'])
(449, ['A Mishra'])
(451, ['S Kaul'])
(452, ['S Badrinath'])
(454, ['MM Patel'])
(461, ['DW Steyn'])
(463, ['NM Coulter-Nile'])
(465, ['BW Hilfenhaus'])
(466, ['AR Patel'])
(468, ['MA Starc'])
(471, ['STR Binny', 'YS Chahal'])
(473, ['Z Khan'])
(478, ['R Vinay Kumar'])
(480, ['WD Parnell'])
(484, ['AP Tare'])
(490, ['R Ashwin'])
(494, ['KK Cooper'])
(497, ['RN ten Doeschate'])
(511, ['R Vinay Kumar', 'Parvez Rasool'])
(513, ['KK Cooper'])
(514, ['SP Narine', 'M Morkel'])
(519, ['DJ Muthuswami'])
(520, ['TG Southee'])
(521, ['DJ Bravo'])
(522, ['PP Chawla'])
(524, ['R Vinay Kumar'])
(528, ['R Dhawan', 'MK Tiwary'])
(530, ['J Suchith'])
(539, ['JJ Bumrah'])
(549, ['Harbhajan Singh'])
(554, ['Mandeep Singh', 'MM Sharma', 'YS Chahal'])
(560, ['UT Yadav', 'GJ Bailey'])
(564, ['BE Hendricks'])
(566, ['HV Patel'])
(568, ['SN Khan'])
(575, ['RA Jadeja'])
(579, ['MG Johnson'])
(585, ['MJ McClenaghan'])
(590, ['HV Patel'])
(592, ['I Sharma'])
(596, ['SP Narine'])
(597, ['MM Sharma', 'KH Pandya'])
(598, ['A Nehra'])
(601, ['P Kumar'])
(602, ['GB Hogg'])
(604, ['S Kaushik'])
(606, ['VR Aaron'])
(614, ['DJ Bravo'])
(615, ['STR Binny'])
(616, ['R Bhatia'])
(622, ['GJ Maxwell'])
(634, ['BB Sran', 'M Morkel'])
(639, ['Washington Sundar'])
(642, ['C Munro', 'SS Iyer'])
(648, ['BB Sran'])
(649, ['S Mavi'])
(651, ['JD Unadkat'])
(655, ['CH Morris'])
(657, ['JD Unadkat'])
(660, ['Mohammed Siraj'])
(662, ['V Shankar'])
(663, ['RA Jadeja'])
(664, ['Basil Thampi'])
(666, ['RA Jadeja'])
(667, ['MJ McClenaghan'])
(668, ['J Archer'])
(669, ['KV Sharma'])
(670, ['R Ashwin'])
(673, ['PP Chawla'])
(677, ['JP Duminy'])
(678, ['V Shankar'])
(679, ['J Archer'])
(683, ['JP Duminy', 'BA Stokes'])
(690, ['S Gill', 'S Kaul'])
(691, ['Mustafizur Rahman'])
(694, ['PP Chawla'])
(695, ['P Krishna'])
(699, ['JJ Bumrah'])
(705, ['M Markande'])
(706, ['HV Patel'])
(708, ['JD Unadkat'])
(709, ['M Ur Rahman'])
(712, ['I Sharma'])
(715, ['A Joseph'])
(723, ['KH Pandya'])
(725, ['Kuldeep Yadav'])
(727, ['Mohammed Siraj', 'KA Pollard'])
(728, ['JD Unadkat'])
(729, ['YK Pathan'])
(730, ['I Sharma', 'K Paul', 'KA Pollard'])
(731, ['KD Karthik'])
(735, ['DW Steyn', 'SN Thakur'])
(736, ['SV Samson'])
(737, ['DJ Bravo'])
(740, ['Imran Tahir'])
(741, ['S Kaul'])
(742, ['UT Yadav'])
(745, ['UT Yadav'])
(747, ['Rashid Khan'])
(752, ['SP Narine'])
(754, ['TA Boult', 'B Kumar'])
(756, ['JJ Bumrah'])

## Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

In [219]:
dsub=deliveries_df[['total_runs','bowler']]

In [220]:
dsub=dsub.groupby('total_runs')

In [221]:
li=[]
for name,group in dsub:
    b=group['bowler'].value_counts().idxmax()
    if(name>=1 and name<=4):
        li.append((name,b))
    #for 6s we have to count the 6s on no ball also so we will have toadd when total_run =7
    if(name==6 or name==7):
        s1=group['bowler'].value_counts()
    if(name==7):
        s2=group['bowler'].value_counts()
        s1.add(s2,fill_value=0)
        li.append((6,s1.idxmax()))

In [222]:
li

[(1, 'Harbhajan Singh'),
 (2, 'DJ Bravo'),
 (3, 'P Kumar'),
 (4, 'UT Yadav'),
 (6, 'MM Patel')]

## Which batsman got stumped out maximum number of times?

In [223]:
desub=deliveries_df[['player_dismissed','dismissal_kind']]

In [227]:
desub[desub['dismissal_kind']=='stumped']['player_dismissed'].value_counts().idxmax()

'SK Raina'

## Which non-striker has been part of maximum number of runouts?

In [230]:
desub1=deliveries_df[['non_striker','player_dismissed','dismissal_kind']]

In [233]:
desub1=desub1[desub1['dismissal_kind']=='run out']

In [241]:
desub1['non_striker'].value_counts().head()

SK Raina          16
KD Karthik        16
RG Sharma         15
AB de Villiers    14
YK Pathan         14
Name: non_striker, dtype: int64

Sk Raina and Kd karthik both

## Make at least 5 more new queries and find answers to them.

## Which batsman got bowled out maximum number of times?

In [242]:
desub1=deliveries_df[['player_dismissed','dismissal_kind']]

In [243]:
desub1=desub1[desub1['dismissal_kind']=='bowled']

In [245]:
desub1['player_dismissed'].value_counts().idxmax()

'SR Watson'

## Which batsman has played minimum number of dot balls?

In [246]:
dot=deliveries_df.query("total_runs == 0")

In [247]:
dot['batsman'].value_counts().idxmin()

'P Parameswaran'

## Which umpire has offciated maximum number of matches?

In [248]:
umpiresub=matches_df[['umpire1','umpire2','umpire3']]

In [252]:
pd.concat([umpiresub['umpire1'],umpiresub['umpire2'],umpiresub['umpire3']],ignore_index=True).value_counts().idxmax()

'S Ravi'

## Find the number of matches in every season

In [255]:
matches_df['season'].value_counts()

2013    76
2012    74
2011    73
2019    60
2018    60
2016    60
2014    60
2010    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

## What seems to be the most preffered venue of the entire IPL series?

In [260]:
venue_matches=matches_df.groupby('venue').count()[['id']].sort_values(by='id',ascending=False).head()

In [261]:
venue_matches

                                           id
venue
Eden Gardens                               77
Wankhede Stadium                           73
M Chinnaswamy Stadium                      73
Feroz Shah Kotla                           67
Rajiv Gandhi International Stadium, Uppal  56

In [263]:
venue_matches.idxmax()

id    Eden Gardens
dtype: object